<!-- rating-ticket.component.html -->
<div class="fixed top-0 right-0 left-0 z-40 bg-black bg-opacity-50 h-screen"></div>

<div id="popup-modal" tabindex="-1" *ngIf="serviceClient.modalOpen==true"
    class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
    style="display: flex;justify-content: center;">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
           
            <div class="p-4 md:p-5 text-center">
                <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Rate the technician who resolved this ticket
                    <br>
                </h3>
                <div class="container">
                    <form [formGroup]="ratingForm">
                        <div class="stars">
                            <input type="radio" id="star1" name="rating" formControlName="rating"value="1" /><input type="radio" id="star2" name="rating" formControlName="rating" value="2" /><input type="radio" id="star3" name="rating"  formControlName="rating" value="3" /><input type="radio" id="star4" name="rating" formControlName="rating" value="4" /><input type="radio" id="star5" name="rating" formControlName="rating"value="5" />
                            
                            <label for="star1" aria-label="Banana">1 star</label><label for="star2">2 stars</label><label for="star3">3 stars</label><label for="star4">4 stars</label><label for="star5">5 stars</label>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
