
  
 #p{
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 2em;
  color: black;
  margin-left: 5px;
}
  main {
    max-height: calc(100vh - 50px); /* 80px correspond à la hauteur de votre header */
    overflow-y: auto; /* Activer le défilement vertical lorsque le contenu dépasse la hauteur maximale */
    flex-grow: 1;

  }
  


    /* Personnalisation de la barre de défilement */
    main::-webkit-scrollbar {
      width: 5px; /* Largeur de la barre de défilement */
    }
    
    main::-webkit-scrollbar-track {
      background: transparent; /* Couleur de fond de la piste */
    }
    
    main::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2); /* Couleur de la barre de défilement */
      border-radius: 10px; /* Rayon des coins de la barre de défilement */
    }
    #dropdownRadio {
      top: 100%;
      left: 0;
    }
    /* Dropdown Button */


/* The container <div> - needed to position the dropdown content */


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
