/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 0.8rem;
}

p {
    font-size: 0.8em;
    margin-bottom: 1rem;
    margin-top: -30px;
}

body {
    min-height: 100vh;
    width: 100%;
}
h5{
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1em;
    color: #27284E;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
}

.container .registration {
    display: none;
}

#check:checked~.registration {
    display: block;
}

#check:checked~.login {
    display: none;
}

#check {
    display: none;
}

.container .form {
    padding: 2rem;
}

.form header {
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 2em;
    color: #27284E;

}

.form input {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

.form input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}


.form input.button {
    color: #fff;
    background-color: #D53636;
    transition: 0.3s;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;

}

.form input.button:hover {
    background: #252121;
}

.signup {
    font-size: 17px;
    text-align: center;
}

.signup label {
    color: #A22020;
    cursor: pointer;
}

.signup label:hover {
    text-decoration: underline;
}