<div id="dropdownNotification" class="z-20 max-w-sm bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-800 dark:divide-gray-700" aria-labelledby="dropdownNotificationButton">
  <div class="block px-4 py-2 font-medium text-center text-gray-700 rounded-t-lg text-white"  style="background-color: #27284E;">
    Notifications
  </div>
  <div class="divide-y divide-gray-100 dark:divide-gray-700" id="ul" >

    <div *ngFor="let notif of this.notifs">
      <a class="flex px-4 py-4 hover:bg-red-200 dark:hover:bg-red-700 bg-red-100" *ngIf=" notif.readStatus==false"  >
        <div class="w-full">
       
          <div class="text-gray-500 text-1xl mb-1.5 dark:text-gray-400">
            <span class="font-semibold text-gray-900 dark:text-white">{{ notif.message }}</span>
          </div>
          <div class="text-xs text-blue-600 dark:text-blue-500">
            {{ calculateTimeDifference(notif.createdAt) }}
          </div>
        </div>
      </a>
    <a class="flex px-4 py-4 hover:bg-gray-100 dark:hover:bg-gray-700"  *ngIf=" notif.readStatus==true">
      <div class="w-full" >
       
        <div class="text-gray-500 text-1xl mb-1.5 dark:text-gray-400">
          <span class="font-semibold text-gray-900 dark:text-white">{{ notif.message }}</span>
        </div>
        <div class="text-xs text-blue-600 dark:text-blue-500">
          {{ calculateTimeDifference(notif.createdAt) }}
        </div>
      </div>
    </a>
    </div>
  </div>
</div>
